{% extends 'base.html' %} {% block title %}Survey{% endblock %} {% block body %}
{% with messages = get_flashed_messages() %} {% if messages %}
<section class="messages">
    {% for msg in messages %}
    <p>{{msg}}</p>
    {% endfor %}
</section>

{% endif %} {% endwith %}

<h1 class="h1">{{title}}</h1>
<h2 class="h2">Question {{question + 1}}</h2>
<p>{{text}}</p>
<form action="/answer" method="post">
    <input type="hidden" name="question" value="{{question}}" />
    <input type="hidden" name="survey_code" value="{{survey_code}}" />
    {% for choice in choices %}
    <div class="form-check">
        <input
            class="form-check-input"
            type="radio"
            id="{{choice}}"
            name="answer"
            value="{{choice}}" />
        <label class="form-check-label" for="{{choice}}"> {{choice}} </label>
    </div>
    {% endfor %} {% if allow_text %}
    <input
        class="form-control"
        type="text"
        placeholder="Enter comments if any"
        name="text_answer" />
    {% endif %}
    <button type="submit" class="btn btn-secondary col-12">Submit</button>
</form>
{% endblock %}
